<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:insert="fragment/head">

<body>


	
	<header th:insert="fragment/header"></header>
	    <div align="center">
        <h1>Edit Teacher Information</h1>
        <br />
        <form action="#" th:action="@{/saveT}" th:object="${teacher}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>             
                    <td>Teacher ID:</td>
                    <td>
                        <input type="text" th:field="*{id}" readonly="readonly" />
                    </td>
                </tr>        
                <tr>             
                    <td>Teacher Name:</td>
                    <td>
                        <input type="text" th:field="*{name}" />
                    </td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" th:field="*{address}" /></td>
                </tr>
                <tr>
                    <td>Phone Number:</td>
                    <td><input type="text" th:field="*{phoneNo}" /></td>
                </tr>
                <tr>
                    <td>Subject:</td>
                    <td><input type="text" th:field="*{subject}" /></td>
                </tr>
                <tr>
                    <td>Area:</td>
                    <td><input type="text" th:field="*{area}" /></td>
                </tr>                            
                
                <tr>
                    <td>Experience:</td>
                    <td><input type="text" th:field="*{experience}" /></td>
                </tr>   
                 <tr>
                    <td>Qualification:</td>
                    <td><input type="text" th:field="*{qualification}" /></td>
                </tr>        
                                         
                <tr>
                    <td>Other Activity:</td>
                    <td><input type="text" th:field="*{otherActivity}" /></td>
                </tr>  
                
                 <tr>
                    <td>Qualification:</td>
                    <td><input type="text" th:field="*{qualification}" /></td>
                </tr>  
                                            
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
    <footer th:insert="fragment/footer"></footer>
</body>
</html>
</body>
</html>