
<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:insert="fragment/head">

<body>

<header th:insert="fragment/header"></header>
	
	<!-- banner -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" ></li>
			<li data-target="#myCarousel" data-slide-to="1" ></li>
			<li data-target="#myCarousel" data-slide-to="3" ></li>
			
		</ol>
		<div class="carousel-inner" role="listbox">
		<i class="arrow right"></i>
			<div class="item active">
				<div class="container">
					<div class="carousel-caption" >
					<i class="arrow right"></i>
						<h6>BEST EDUCATION</h6>
						<h3>For Your 
							<span>Better Future</span>
						</h3>
						<p>Lectures From Experienced Faculty.</p>
					</div>
				</div>
			</div>
			<div class="item item2">
				<div class="container">
					<div class="carousel-caption">
						<h6 style="color:black;">GET PERSONAL ATTENTION AND</h6>
						<h1>
							<span>Be a fast learner</span>
						</h1>
						<p style="color: Black;">If Child can’t Learn in the way we teach ,We Must teach in way child can Learn..<span>FIND A PRIVATE HOME TUTOR HERE.</span></p>
					</div>
				</div>
			</div>
		
			
		</div>
		<a class="left carousel-control"  href="#myCarousel" role="button" data-slide="prev">
					
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			
		
		</a>
		
	</div>
	
	
	<div  id="about">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>W</span>elcome
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="welcome-sub-wthree">
				<div class="col-md-6 banner_bottom_left">
					<h4>About  <span> Topper Tutor</span>
					</h4>
					<p>We are working in the fields of education for more than 3 years. We are aligned to cultivate an expert group of experts willing to render their services.</p>
					<p>We have more than 600 expert faculties and home tutors, the teacher for home tuition can arrive within 30 minutes at your door step. ..</p>
				</div>
				<!-- Stats-->
				<div class="col-md-6 stats-info-agile">
					<div class="col-xs-6 stats-grid stat-border">
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='600' data-delay='.5' data-increment="1">600</div>
						<p>Faculties</p>
					</div>
					<div class="col-xs-6 stats-grid">
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1365' data-delay='.5' data-increment="1">1365</div>
						<p>Happy Parents</p>
					</div>
					<div class="clearfix"></div>
					<div class="child-stat">
						<div class="col-xs-6 stats-grid stat-border border-st2">
							<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='453' data-delay='.5' data-increment="1">453</div>
							<p>Permanent Teachers</p>
						</div>
						<div class="col-xs-6 stats-grid">
							<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1485' data-delay='.5' data-increment="1">1485</div>
							<p>Happy Students</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //Stats -->
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- services -->
	<div class="services">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>O</span>ur
					<span>S</span>ervices
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="services-moksrow">
				<div class="col-xs-4 services-grids-w3l">
					<div class="servi-shadow">
					
						<img src="images/tea22.png" class="img-responsive" alt="tea" />
						
						<h4>Home Tuition </h4>
						<p></p>
					</div>
				</div>
				
				
				
				<div class="col-xs-4 services-grids-w3l">
					<div class="servi-shadow">
					
					
					<img src="images/tea11.png" class="img-responsive" alt="5th to 12th teacher" />
						
						
						<h4>5th to 12th grade,Coaching Classes </h4>
						<p></p>
					</div>
				</div>
				
				
				
				
				<div class="col-xs-4 services-grids-w3l">
					<div class="servi-shadow">
					
					
						<img src="images/yoga1.jpg" class="img-responsive" alt="yoga Classes" />
						
						
						<h4>Yoga classes </h4>
						<p></p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="services-moksrow">
				<div class="col-xs-4 services-grids-w3l">
					<div class="servi-shadow">
					
						<img src="images/dance1.jpg" class="img-responsive" alt="Dance Classes" />
						
						
						<h4>Dance Classes</h4>
						<p></p>
					</div>
				</div>
				<div class="col-xs-4 services-grids-w3l">
					<div class="servi-shadow">
					
					<img src="images/music1.jpg" class="img-responsive" alt="Music Classes" />
						
						<h4>Music Classes</h4>
						
						<p></p>
					</div>
				</div>
				<div class="col-xs-4 services-grids-w3l">
					<div class="servi-shadow">
					
						<img src="images/Writing Classes.jpg" class="img-responsive" alt="Writing Classes" />
						
						<h4>Writing Classes </h4>
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="middle-sec-agile">
		<div class="container">
			<h4>Advantages
				 Home Tuition</h4>
			<ul>
				<li>
					<div class="midle-left-w3l">
						<span     aria-hidden="true"></span>
					</div>
					<div class="middle-right">
						<h5><i class="arrow right"></i>  Extra Attention</h5>
						<p>The students are able to get care and attention from their edifier.</p>
					</div>
					<div class="clearfix"></div>
				</li>
				<li>
					<div class="midle-left-w3l">
						<span aria-hidden="true"></span>
					</div>
					<div class="middle-right">
						<h5><i class="arrow right"></i>  Improved Performance.</h5>
						<p>Improved Performance Private tuition will give the students opportunity to practice more <br>and to a greater extent. He is able to answer your queries and correct your mistakes also <br>know more about each and every subject.</p>
					</div>
					<div class="clearfix"></div>
				</li>
				<li>
					<div class="midle-left-w3l">
						<span  aria-hidden="true"></span>
					</div>
					<div class="middle-right">
						<h5><i class="arrow right"></i>  Improve learning styles</h5>
						<p>Improve learning styles Home tuition will help them build confidence and<br> hence speed up their learning process also Able to identify your strength and weaknesses.<br><br></p>
					</div>
					<div class="clearfix"></div>
				</li>
				<li>
					<div class="midle-left-w3l">
						<span  aria-hidden="true"></span>
					</div>
					<div class="middle-right">
						<h5><i class="arrow right"></i>  Involvement of Parents</h5>
						<p>Involvement of Parents Due to home tuition, The parents will be informed about each<br> and every activity of their child and teacher can tell them better what should be the<br> steps taken towards improving the scores of their child.<br><br></p>
					</div>
					<div class="clearfix"></div>
				</li>
				<li>
					<div class="midle-left-w3l">
						<span aria-hidden="true"></span>
					</div>
					<div class="middle-right">
						<h5><i class="arrow right"></i>  Personalized Relationship</h5>
						<p>Personalized Relationship Home tuition is best way to open every communication channel <br>for teachers and students participating in private tuition also students share the opinions <br>and ideas with his teacher.</p>
					</div>
					<div class="clearfix"></div>
				</li>
			</ul>
			<a class="button-style" th:href="@{/hire}">Hire A Tutor Now</a>
		</div>
		<div class="pencil-img">
			<img src="images/bg5.png" alt="bachground" />
		</div>
	</div>
	<!-- //middle section -->
	<!-- testimonials -->
	<div class="testimonials">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>O</span>ur
					<span>T</span>estimonials
					
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<ul id="flexiselDemo1">
				<li>
					<div class="three_testimonials_grid_main">
						<div class="col-xs-3 three_testimonials_grid_pos">
							<div class="grid-test-allah-agile">
								<img src="images/bn4.jpg" alt=" " class="img-responsive" />
							</div>
						</div>
						<div class="col-xs-9 three_testimonials_grid">
							<div class="three_testimonials_grid1">
								<h5>Shiwani</h5>
							<p>Student</p>
							</div>
							<p>
								Covering CBSE School Syllabus for 6th to 12 th and Building up a Worry for your child ??? Get the best tutor for your child , his bright future is awaiting out here ... make your child ready for experiencing the world...just call and get the tutor
							</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</li>
				<li>
					<div class="three_testimonials_grid_main">
						<div class="col-xs-3 three_testimonials_grid_pos">
							<div class="grid-test-allah-agile">
								<img src="images/bn4.jpg" alt="banner" class="img-responsive" />
							</div>
						</div>
						<div class="col-xs-9 three_testimonials_grid">
							<div class="three_testimonials_grid1">
								<h5>Sidharth Jain </h5>
								<p>Student</p>
							</div>
							<p>
								Very good and highly qualified faculty with great sense of understanding towards student. Love to have them.
							</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</li>
				<li>
					<div class="three_testimonials_grid_main">
						<div class="col-xs-3 three_testimonials_grid_pos">
							<div class="grid-test-allah-agile">
								<img src="images/bn4.jpg" alt="banner" class="img-responsive" />
							</div>
						</div>
						<div class="col-xs-9 three_testimonials_grid">
							<div class="three_testimonials_grid1">
								<h5>Shruti Sharma</h5>
								<p>Teacher</p>
							</div>
							<p>
							  I am  connected with Topper Tutor since  3 years
Genius classes is very excellent classes n sir n mam both are very helpful for all teachers and student
 all teachers and students are family members of Topper Tutor.
                                    
							</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</li>

			</ul>
		</div>
	</div>
	<!-- //testimonials -->
	<!-- footer -->
		<footer th:insert="fragment/footer"></footer>
</body>
</html>