
<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:insert="fragment/head">

<body>


	
	<header th:insert="fragment/header"></header>
	<div class="blog-cource">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>O</span>ur
					<span>S</span>ervices
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="blog-info">
				<div class="col-xs-4 blog-grid-img">
					<img src="images/c2.jpg" class="img-responsive" alt="" />
				</div>
				<div class="col-xs-8 blog-grid-text">
					<h4>Home Tuition </h4>
					<h6> </h6>
					<p>In-home tutoring is a form of tutoring that occurs in the home. Tutoring is receiving guidance or instruction by a tutor. Most often the tutoring relates to an academic subject or test preparation. This is in contrast to tutoring centers or tutoring provided through after-school programs. </p>
					<a class="button-style" th:href="@{/hire}">Apply Now</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="blog-agileinfo blog-info-mdl">
				<div class="col-xs-8 blog-grid-text">
					<h4>5th to 12th grade , Coaching Classes </h4>
					<h6> </h6>
					<p>Our Home Tutors know that every student has his/her own learning speed. Thus, they teach accordingly which boost the performance of the children. Our tutors encourage students to devote the extra time towards working on the weak points. </p>
					<a class="button-style" th:href="@{/hire}">Apply Now</a>
				</div>
				<div class="col-xs-4 blog-grid-img blog-img-rght">
					<img src="images/c1.jpg" class="img-responsive" alt="" />
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="blog-info">
				<div class="col-xs-4 blog-grid-img">
					<img src="images/c3.jpg" class="img-responsive" alt="" />
				</div>
				<div class="col-xs-8 blog-grid-text">
					<h4>Yoga classes </h4>
					<h6> </h6>
					<p>Yoga gurus from India later introduced yoga to the West, following the success of Swami Vivekananda in the late 19th and early 20th century with his adaptation of yoga tradition, excluding asanas. In the 1980s, a very different form of modern yoga, with an increasing number of asanas and few other practices, became popular as a system of exercise across the Western world.</p>
					<a class="button-style" th:href="@{/hire}">Apply Now</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="blog-agileinfo blog-info-mdl">
				<div class="col-xs-8 blog-grid-text">
					<h4>Dance Classes</h4>
					<h6> </h6>
					<p>Dance classes are a great way to express your creativity, get exercise and stay fit. If you haven’t taken a dance class before, knowing which type of dance you’d enjoy can be difficult. With so many different types of dance to choose from, it is important to do your research. </p>
					<a class="button-style" th:href="@{/hire}">Apply Now</a>
				</div>
				<div class="col-xs-4 blog-grid-img blog-img-rght">
					<img src="images/c7.jpg" class="img-responsive" alt="" />
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	
	
	<div class="blog-info">
				<div class="col-xs-4 blog-grid-img">
					<img src="images/music.jpg" class="img-responsive" alt="" />
				</div>
				<div class="col-xs-8 blog-grid-text">
					<h4>Music Classes</h4>
					<h6> </h6>
					<p>Music is among the most beautiful things that anyone should learn. However, this has been referred by many as a subject which is somewhat difficult to learn. </p>
					<a class="button-style" th:href="@{/hire}">Apply Now</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="blog-agileinfo blog-info-mdl">
				<div class="col-xs-8 blog-grid-text">
					<h4>Writing Classes </h4>
					<h6> </h6>
					<p>A writing class should help you develop skills – whether it’s learning to read ‘as a writer’ (analysing why something works or why a writer might have chosen to write something in a certain way) or whether it’s improving your skills as a writer of description, dialogue, or whatever you need. It might be about learning a few different ways to approach your work, to outline, to write a first draft – but you should be learning things you can use in your work. </p>
					<a class="button-style" th:href="@{/hire}">Apply Now</a>
				</div>
				<div class="col-xs-4 blog-grid-img blog-img-rght">
					<img src="images/Writing.jpg" class="img-responsive" alt="" />
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="blog-info">
				<div class="col-xs-4 blog-grid-img">
					<img src="images/Foreign.jpg" class="img-responsive" alt="" />
				</div>
				<div class="col-xs-8 blog-grid-text">
					<h4>Foreign Education Counselling </h4>
					<h6> </h6>
					<p>Students often seek guidance on which university will be better for them, says Pratibha. The agent’s awareness and training plays a key role here, where they can make suggestions based on benefits of the different programmes and compare the institutions to give a better idea to the student.”
                                                     </p>
					<a class="button-style" th:href="@{/hire}">Apply Now</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="blog-agileinfo blog-info-mdl">
				<div class="col-xs-8 blog-grid-text">
					<h4>Career Counselling </h4>
					<h6> </h6>
					<p>Your Career Counselor WILL:

    Help you figure out who you are and what you want out of your education, your career, and your life.
    Be someone for you to talk to about your thoughts, ideas, feelings, and concerns about your career and educational choices, who will help you sort out, organize, and make sense of your thoughts and feelings.
    Help you identify the factors influencing your career development, and help you assess your interests, abilities, and values.
    Help you locate resources and sources of career information.
    Help you to determine next steps and develop a plan to achieve your goals.
 </p>
					<a class="button-style" th:href="@{/hire}">Apply Now</a>
				</div>
				<div class="col-xs-4 blog-grid-img blog-img-rght">
					<img src="images/career.jpg" class="img-responsive" alt="" />
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	
	
	<div class="blog-info">
				<div class="col-xs-4 blog-grid-img">
					<img src="images/toefl.jpg" class="img-responsive" alt="" />
				</div>
				<div class="col-xs-8 blog-grid-text">
					<h4>SAT, IELTS , GRE and TOFEL Preparation  </h4>
					<h6> </h6>
					<p>A right preparation demands a lot of focus and planning that can help you to improve your verbal score.  In order to plan your preparation right, here are some of the easy ways to help you perform well on the test:
<br>
•         Start maintaining a vocabulary registerTips<br>
•         Try using flashcards as much as possible<br>
•         Keep a good book on vocabulary<br>
•         Start using online tools<br>
•         Develop a good reading habit<br>
•         Try reading articles from reputed journals<br>
•         Start listening to English conversations in movies or TV serials or even various English news channels. </p>
					<a class="button-style" th:href="@{/hire}">Apply Now</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="blog-agileinfo blog-info-mdl">
				<div class="col-xs-8 blog-grid-text">
					<h4>Expert Teacher for individual subject</h4>
					<h6> </h6>
					<p>Can identify essential representations of their subject(s)<br>

1. Expert teachers have deeper representations about teaching and learning.<br>

2. Expert teachers adopt a problem-solving stance to their work.<br>

3. Expert teachers can anticipate, plan, and improvise as required by the situation.<br>

4. Expert teachers are better decision-makers and can identify what decisions are important and which are less important decisions. </p>
					<a class="button-style" th:href="@{/hire}">Apply Now</a>
				</div>
				<div class="col-xs-4 blog-grid-img blog-img-rght">
					<img src="images/Teacher.jpg" class="img-responsive" alt="" />
				</div>
				<div class="clearfix"> </div>
			</div>
	<!-- //Gallery -->

	<footer th:insert="fragment/footer"></footer>

</body>

</html>