<div class="header-top">
		<div class="container">
			<div class="bottom_header_left">
				<p>
					<span  aria-hidden="true" class="material-icons"></span><i class="material-icons">my_location-</i> Near Salasar Mall, Infront of Hanuman Mandir, Sales Tax Office,  City Center Gwalior
				</p>
			</div>
			<div class="bottom_header_right">
				<div class="bottom-social-icons">
				<a class="facebook" href="https://www.facebook.com/Topper-Tutor-1223673414464257">
						<span class="fa fa-facebook" ></span>
					</a>
					<a class="twitter" href="#">
						<span class="fa fa-twitter"></span>
					</a>
					<a class="instagram" href="#">
						<span class="fa fa-instagram"></span>
					</a>
				<a class="google" href="#">
						<span class="fa fa-google"></span>
					</a>
				</div>
				
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="header">
		<div class="content white">
			<nav class="navbar navbar-default">
				<div class="container">
				<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="logo1">
						<a class="navbar-brand" th:href="@{/}">
							
						<img src="images/logo111.png" alt="logo">
					</a>
					</div>
					
					</div>	
						
						
								
					
					
					<!--/.navbar-header-->
					
						
					
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-2" id="link-effect-2">
							<ul class="nav navbar-nav">
								<li class="active">
									<a th:href="@{/}" class="effect-3">HOME</a>
								</li>
								<li>
									<a th:href="@{/about}" class="effect-3">ABOUT US</a>
								</li>
								
								<li>
									<a th:href="@{/service}" class="effect-3">SERVICE</a>
								</li>
								
								
								<li>
									<a th:href="@{/apply}" class="effect-3">APPPLY AS TUTOR</a>
								</li>
								
								
								<li>
									<a th:href="@{/hire}" class="effect-3">HIRE A TUTOR</a>
								</li>
								
					
								<li>
									<a th:href="@{/contact}" class="effect-3">CONTACT US</a>
								</li>
								
							</ul>
						</nav>
					</div>
					
			</nav>
		</div>
	</div>